:root {
  --navbar-bg-color: #e9ecef;
  --body-bg-color: #ffffff;
  --font-color: #ff0000;
  --header-font-color: #000000;
  --header-bg-color: #f8f9fa;
}

.navbar-custom {
  background-color: var(--navbar-bg-color);
  color: var(--font-color);
}

.navbar-custom .nav-link {
  color: var(--font-color) !important;
}

.navbar-custom .navbar-brand {
  color: var(--font-color) !important;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  right: 0;
  left: auto;
  margin-top: var(--bs-dropdown-spacer);
}

.accordion-header-custom .accordion-button {
  background-color: var(--header-bg-color) !important;
  color: var(--header-font-color) !important;
}

.accordion-item-custom {
  background-color: var(--body-bg-color) !important;
  color: var(--font-color) !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
